In [29]:
print("Floor:", math.floor(100.7))
print("Ceil:", math.ceil(100.7))

Floor: 100
Ceil: 101

In [31]:
print("Sqrt 9:", math.sqrt(9))
print("Sqrt 16:", math.sqrt(16))
print("Sqrt 100:", math.sqrt(100))

Sqrt 9: 3.0
Sqrt 16: 4.0
Sqrt 100: 10.0

In [34]:
print("Pi:", math.pi, "into degrees:", math.degrees(math.pi))

Pi: 3.141592653589793 into degrees: 180.0

In [36]:
print("A random number between 4 and 7 is:", random.randint(4,7))

A random number between 4 and 7 is: 4

In [43]:
a

[2, 3, 4]

In [42]:
del a[0]

In [44]:
a.count(2)

1

In [45]:
a.append(6)

In [47]:
a.extend([4,5,6])

In [48]:
a.append([4,5,6])

In [49]:
a

[2, 3, 4, 6, 4, 5, 6, [4, 5, 6]]

In [50]:
del a[-1]

In [51]:
a

[2, 3, 4, 6, 4, 5, 6]

In [52]:
15 in a

False

In [56]:
a*2

[2, 3, 4, 6, 4, 5, 6, 2, 3, 4, 6, 4, 5, 6]

In [58]:
a.index[0]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [59]:
b = a.pop()

In [60]:
b

6

In [61]:
a

[2, 3, 4, 6, 4, 5]

In [62]:
a = [1,2,3,4,5]
b = a
c = a.copy()
print(a)
a[0] = 7
print(b)
print(c)

[1, 2, 3, 4, 5]
[7, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [64]:
a = [4,7,2,9,3,2]
print("Min:", min(a))
print("Max:", max(a))
print("Sum:", sum(a))

Min: 2
Max: 9
Sum: 27

In [66]:
a.count(2)

2

In [67]:
letters = ['A','C','C','A','T','T','G','A','C','A']

In [68]:
letters.count('A')

4

In [69]:
letters.index('T')

4

In [70]:
letters2 = letters.copy()

In [71]:
letters2.remove('G')

In [72]:
letters2

['A', 'C', 'C', 'A', 'T', 'T', 'A', 'C', 'A']

In [74]:
letters2.insert(3,'A')

In [75]:
letters2

['A', 'C', 'C', 'A', 'A', 'T', 'T', 'A', 'C', 'A']

In [76]:
letters2.reverse()

In [77]:
letters2

['A', 'C', 'A', 'T', 'T', 'A', 'A', 'C', 'C', 'A']

In [78]:
letters

['A', 'C', 'C', 'A', 'T', 'T', 'G', 'A', 'C', 'A']

In [79]:
a = (1,2,3,4,5,6,7,8,9,10)

In [85]:
print("First half:", a[:5])
print("Second half:", a[5:])

First half: (1, 2, 3, 4, 5)
Second half: (6, 7, 8, 9, 10)

In [86]:
thisdict = dict(apple = 'green', banana = 'yellow', cherry = 'red')

In [87]:
thisdict

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [89]:
del thisdict['apple']

In [90]:
thisdict

{'banana': 'yellow', 'cherry': 'red'}

In [94]:
thisdict['durian'] = 'green'

In [95]:
thisdict

{'banana': 'yellow', 'cherry': 'red', 'durian': 'green'}

In [111]:
len(thisdict)

4

In [110]:
thisdict = dict(apple = 'green', banana = 'yellow', cherry = 'red')
print("Original:", thisdict)
thisdict2 = thisdict
print("Shallow:", thisdict2)
thisdict3 = thisdict.copy()
print("Deep:", thisdict3)
thisdict['cherry'] = 'purple'
thisdict['durian'] = 'green'
print("New original:", thisdict)
print("New shallow:", thisdict2)
print("New deep:", thisdict3)

Original: {'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}
Shallow: {'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}
Deep: {'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}
New original: {'apple': 'green', 'banana': 'yellow', 'cherry': 'purple', 'durian': 'green'}
New shallow: {'apple': 'green', 'banana': 'yellow', 'cherry': 'purple', 'durian': 'green'}
New deep: {'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

In [113]:
x = {1,2,3,4,4,4,4,4,4,5}

In [114]:
x

{1, 2, 3, 4, 5}

In [115]:
y = {2,2,2,3}

In [116]:
y.issubset(x)

True

In [117]:
x.issuperset(y)

True

In [118]:
5 in y

False

In [119]:
w = x.union(y)

In [120]:
w

{1, 2, 3, 4, 5}

In [121]:
z = y.intersection(x)

In [122]:
z

{2, 3}

In [123]:
i = x.difference(y)

In [124]:
i

{1, 4, 5}

In [125]:
engineers = set(['John', 'Jane', 'Janice'])
programmers = set(['Jack', 'Sam', 'Susan', 'Janice'])
managers = set(['Jane', 'Jack', 'Susan', 'Zack'])

In [126]:
programmers.intersection(managers)

{'Jack', 'Susan'}

In [128]:
engineers.union(programmers, managers)

{'Jack', 'Jane', 'Janice', 'John', 'Sam', 'Susan', 'Zack'}

In [136]:
a = "this is an example string.. wow!!"
print(a)
print(a.capitalize())
print(a.title())
print(a.swapcase())
print(a.replace('is', 'was', 4))
print(a.count('e'))
print(a.isalnum())
print(a.split())

this is an example string.. wow!!
This is an example string.. wow!!
This Is An Example String.. Wow!!
THIS IS AN EXAMPLE STRING.. WOW!!
thwas was an example string.. wow!!
2
False
['this', 'is', 'an', 'example', 'string..', 'wow!!']

In [137]:
name = "John"
age = 23
print("%s is %d years old" %(name, age))

John is 23 years old

In [140]:
a = 3.4567
b = 4
c = a + b
print("{} + {} = {}".format(a,b,c))
print("{0:0.2f}".format(a))

3.4567 + 4 = 7.4567
3.46

In [143]:
a = 'abc@def.com'
a.split('@')

['abc', 'def.com']

In [156]:
data = ("John","Doe",53.44)
format_string = "Hello %s %s. Your current balance is $%.2f"
print(format_string%data)

Hello John Doe. Your current balance is $53.44

In [165]:
country = "France"
capital = "paris"
s = "The capital of {} is {}"
s.format(country.upper(), capital.capitalize())

'The capital of FRANCE is Paris'

In [169]:
grade = input("What is your grade:")

if grade == 'A':
    print("Excellent! Parents be proud")
elif grade == 'B':
    print("Well done! You can do better, though")
elif grade == 'C':
    print("Work harder")
else:
    print("Lo siento. No se cual es tu nota")

What is your grade:z
Lo siento. No se cual es tu nota

In [172]:
a = [1,2,3,4]
b = ["a","b","c", "d", "e"]

c = zip(a,b)
for i, j in c:
    print(i,j)

1 a
2 b
3 c
4 d

In [5]:
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [13]:
num = 5
fact = 1

for x in range(1,num+1):
    fact = fact * x
print(fact)

120

In [31]:
def min_num(*args):
    m = args[0]
    for x in args:
        if x < m:
            m = x
    return m

In [32]:
min_num(2,15,-10, -62, 167)

-62

In [33]:
def minimum(*a):
    return min(*a)

In [34]:
minimum(2,15,-10, -62, 167)

-62

In [57]:
def list_benefits():
    return ['More organized code', 'More readable code', 
            'Easier code reuse', 'Allowing programmers to share and connect code together']

In [58]:
list_benefits()

['More organized code',
 'More readable code',
 'Easier code reuse',
 'Allowing programmers to share and connect code together']

In [60]:
def build_sentence(info):
    return info + ' is a benefit of functions'

In [61]:
build_sentence('Ainur')

'Ainur is a benefit of functions'

In [71]:
def run_all():
    y = list_benefits()
    for x in y:
        z = build_sentence(x)
        print(z)

In [72]:
run_all()

More organized code is a benefit of functions
More readable code is a benefit of functions
Easier code reuse is a benefit of functions
Allowing programmers to share and connect code together is a benefit of functions

In [73]:
f = lambda x:x*x

In [74]:
f(5)

25

In [78]:
a = [3,4,5,6,7]
f = lambda x:x**2

z = map(f,a)
print(list(z))

[9, 16, 25, 36, 49]

In [79]:
a = [0,1,2,3]
b = [2,4,6,8]

print(list(map(lambda x,y: 10*x+y, a, b)))

[2, 14, 26, 38]

In [82]:
list_a = [1,2,3]
list_b = [10,20,30]

f = lambda a,b: a+b

c = list(map(f, list_a, list_b))
print(c)

[11, 22, 33]

In [83]:
squares = [x*x for x in (1,2,3,4)]
print(squares)

[1, 4, 9, 16]

In [85]:
str1 = [s.upper() for s in 'hello' if s =='h']
print(str1)

['H']

In [95]:
str1 = [s if s in 'arial' else '*' for s in 'apple']
str1

['a', '*', '*', 'l', '*']

In [93]:
num = [x**2 for x in range(1,21) if x%3 != 0 and x%5 != 0 ]
num

[1, 4, 16, 49, 64, 121, 169, 196, 256, 289, 361]

In [98]:
sentence = 'Today is a great day'

extr = [i[0] for i in sentence.split()]
extr

['T', 'i', 'a', 'g', 'd']

In [104]:
str_list = ['s%d' %i for i in range(0,11)]
str_list

['s0', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

In [108]:
odd = [x for x in range(0,11) if x%2!=0]
odd

[1, 3, 5, 7, 9]

In [110]:
b = (n*n for n in range(10))

In [111]:
b

In [112]:
for x in b:
    print(x)

0
1
4
9
16
25
36
49
64
81

In [113]:
def range2(n):
    for i in range(n):
        if i%2 == 0:
            yield i

In [116]:
for g in range2(10):
    print(g)

0
2
4
6
8

In [117]:
b = range2(20)

In [118]:
b

In [119]:
next(b)

0

In [120]:
next(b)

2

In [121]:
next(b)

4

In [125]:
namelist = ['ally', 'jane', 'belinda']

uppercase_name = (x.upper() for x in namelist)

In [126]:
uppercase_name

In [127]:
for i in uppercase_name:
    print(i)

ALLY
JANE
BELINDA

In [128]:
def upper_name(n):
    for i in n:
        yield i.upper()

In [129]:
upper_name(namelist)

In [133]:
for b in upper_name(namelist):
    print(b)

ALLY
JANE
BELINDA

In [145]:
try:
    a = [1,2]
    #print(a[0]/0)
    #print(a[10])
    print(a[0])
except ZeroDivisionError:
    print('I am zero error')
except IndexError:
    print('I am IndexError')
except:
    print('I am except')
else:
    print('I am else')
    
print('Hello')

1
I am else
Hello

In [146]:
try:
    a = [1,2,3]
    b = a[8]
except IndexError:
    print('You got index error')

You got index error

In [153]:
import square_calculation as sc

tri = sc.triangle(500,120)
cir = sc.circle(12)

print(tri," ", cir)

30000.0   75.39822368615503

In [157]:
fo = open('foo.txt','w')
fo.write('Python is a great language.\nYeah it is great!!\n\n\n\t Test')
fo.close()

In [160]:
fo = open("foo.txt", "r")
str1 = fo.read()
print("The strings are:", str1)
fo.close()

The strings are: Python is a great language.
Yeah it is great!!


	 Test

In [171]:
hey = open('Hey.txt','w')
hey.write('Ainur Afifah')
hey.close()

In [172]:
hey = open('Hey.txt','a+')
hey.write('\n\nHidayu')
hey.close()

In [173]:
hey = open('Hey.txt', 'r')
print(hey.read())
hey.close()

Ainur Afifah

Hidayu

In [180]:
dic = {
    'Name': 'Ainur',
    'Colour':'Brown',
    'IsClear': True,
    'IsBig': None
    
}

In [183]:
with open('eee.txt','w') as f:
    f.write('Hello')

In [182]:
import json
fo = open('new-file.json','w')
json.dump(dic,fo)
fo.close()

In [184]:
fo = open('new-file.json','r')
dic = json.load(fo)
fo.close()

In [185]:
dic

{'Colour': 'Brown', 'IsBig': None, 'IsClear': True, 'Name': 'Ainur'}

In [201]:
new_dic = {
            "office":
    {"medical":[
            {
            "room-number": 100,
            "use":"reception",
            "sq-ft": 50,
            "price": 75
        },
        {
            "room-number": 101,
            "use":"waiting",
            "sq-ft": 250,
            "price": 75
        }
                        ]
             },
    "parking":{
        "location":"premium",
        "style":"covered",
        "price": 750
    }
}

In [202]:
dic_one = {"room-number": 100,
            "use":"reception",
            "sq-ft": 50,
            "price": 75}
dic_two = {
            "room-number": 101,
            "use":"waiting",
            "sq-ft": 250,
            "price": 75}

dic_three = { "location":"premium",
        "style":"covered",
        "price": 750}

In [203]:
54*3

162